@use "variables.scss" as *;

body {
  background: {
    image: url("/images/bg/background-wave-desktop.svg");
    repeat: no-repeat;
    size: cover;
  }
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: $space-md $space-xs;
}

.ff-text {
  font-family: Roboto, sans-serif;
}

.ff-heading {
  font-family: Raleway, serif;
}
